div.load
header.hide
div.wrapper(role='main').hide
	article.box.menu
		h1 Opciones
		div caracter
		input#text(type='text', placeholder='caracter', maxlength='1', value='', disabled)
		div armonicas 
		input.number#arm(type='text', placeholder='armonicas', value='1', disabled)
		div frecuencia fundamental
		input.number#frec(type='text', placeholder='frecuencia fundamental', value='150', disabled)
		div amplitud frec fund
		input.number#amp(type='text', placeholder='amplitud frec fundamental', value='1', disabled)
		div
			input#check(type='checkbox', checked) 
			| show debug
		#arr
	article.box.graph
		h1 Grafica
		div#graph(style='height:84%;')
footer.debug.box.hide
	h1 Debug
	table.table
		tbody
			tr
				td.title Armonicas
				td#dbg_arm
			tr
				td.title Frec. Fundamental
				td#dbg_frec
			tr
				td.title Caracter
				td#dbg_char
			tr
				td.title ASCII
				td#dbg_ascii
			tr
				td.title Binario
				td#dbg_bin
			tr
				td.title a0
				td#dbg_a0
			tr
				td.title w0
				td#dbg_w0
			tr
				td.title T
				td#dbg_t