div.load
header.hide
div.wrapper(role='main').hide
	article.box.menu
		h1 Opciones
		div texto 
			span#len 0
		input#text(type='text', placeholder='texto', disabled)
		div armonicas 
		input.number#arm(type='text', placeholder='armonicas', disabled)
		div frecuencia
		input.number#frec(type='text', placeholder='frecuencia', disabled)
		div
			input#check(type='checkbox', checked) 
			| show debug
		#arr
	article.box.graph
		h1 Grafica
		div#graph(style='width:200%; height:84%;')
footer.debug.box.hide
	h1 Debug
	div.title Armonicas 
		span.arm 
	div.title Frecuencia 
		span.frec 
		span Hz
	div.table-container
		table.table
			thead
				tr
					th Char
					th Ascii
					th Binary
					th a0
					th an
					th bn
			tbody#data